:root {
  --background-color-section-1: rgba(120, 202, 202, 0.151);
  --color-h-after: #333;
  --span: #ffb000;
  --color-p: #333;
  --transition-time: 0.5s;
  --padding: 50px 20px;
  --margin-top: 20px;
  --second-font: "Almarai", sans-serif;
  --main-font: "Cairo", sans-serif;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
}
::-moz-selection {
  color: #ff0;
  background-color: var(--color-p);
}
::selection {
  color: #ff0;
  background-color: var(--color-p);
}
html {
  scroll-behavior: smooth;
}
body {
  overflow: hidden;
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
}
.lode {
  position: fixed;
  z-index: 900;
  background-color: #e8e8e8;
  width: 100%;
  height: 100vh;
}
.loader {
  --col1: rgba(228, 19, 141, 0.925);
  --col2: #4a358f;
  font-size: 2.5em;
  white-space: nowrap;
  font-weight: 600;
  -webkit-perspective: 800px;
  perspective: 800px;
  position: relative;
  width: 100%;
  height: 100vh;
}
.loader .text:after,
.loader .text:before,
.loader:after,
.loader:before {
  -webkit-perspective: 800px;
  perspective: 800px;
  -webkit-animation: anim 1s ease-in-out infinite,
    dotMove 5s ease-out alternate infinite;
  animation: anim 1s ease-in-out infinite,
    dotMove 5s ease-out alternate infinite;
  content: "●";
  color: var(--col1);
  position: absolute;
  transform: translate(-60px , 500px);
  width: 5px;
  height: 5px;
}
.loader:before {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  color: var(--col1);
}
.loader .text:before {
  color: var(--col2);
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}
.loader .text:after {
  color: var(--col2);
}
.loader .text {
  -webkit-animation: anim 20s linear infinite, move 10s linear infinite 1s;
  animation: anim 20s linear infinite, move 10s linear infinite 1s;
  color: transparent;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(var(--col1)),
    to(var(--col2))
  );
  background-image: linear-gradient(90deg, var(--col1) 0%, var(--col2) 100%);
  background-clip: text;
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-transform: skew(5deg, -5deg);
  transform: skew(5deg, -5deg);
  -webkit-background-clip: text;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.header-section {
  text-align: center;
  margin: 150px;
}
.header-section h2 {
  color: rgb(84 84 196/7%);
  font-size: 100px;
  margin: 20px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
}
.header-section p {
  font-size: 20px;
  text-align: center;
  color: #797979;
}
.h2-titel {
  margin: 0;
  font-size: 20px;
  margin: 20px;
  font-weight: 700;
  text-align: center;
  color: var(--color-h-after);
  white-space: nowrap;
}
.p-content {
  min-width: 100%;
  font-size: 16px;
  color: var(--color-p);
  text-align: center;
}
.p-content-small {
  width: 100%;
  font-size: 14px;
  color: var(--color-p);
  text-align: center;
}
.flex-alignitems-c_justfycontet-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
span {
  color: var(--span);
  font-size: 22px;
  font-weight: normal;
  font-family: var(--second-font);
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  z-index: 1;
  background: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  background-color: #d1d1d1;
  transition: .3s;
}
header .container {
  padding: 0 15px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
}
header .logo img {
  width: 150px;
}
header nav {
  position: relative;
  z-index: 1;
}
header nav .berger-icon {
  padding-top: 10px;
  width: 35px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap-reverse;
  flex-flow: column wrap-reverse;
}
header nav .berger-icon span {
  width: 100%;
  min-height: 3px;
  margin-bottom: 5px;
  background-color: #000;
}
header nav .berger-icon span:nth-child(2) {
  width: 50%;
}
header nav .linkes {
  position: absolute;
  top: 60px;
  right: 0;
}
header nav .linkes ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  width: 250px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #f6f6f6;
  position: relative;
  display: none;
}
header nav:hover .linkes ul {
  display: inline-block;
}
header nav .linkes ul:before {
  content: "";
  right: 0;
  top: -40px;
  position: absolute;
  border: transparent 20px solid;
  border-bottom-color: #f6f6f6;
}
header nav .linkes ul li {
  list-style: none;
  text-align: right;
}
header nav .linkes ul li a {
  width: 100%;
  text-decoration: none;
  padding: 20px;
  color: #111010;
  display: inline-block;
  color: rgba(0, 0, 255, 0.829), rgba(0, 0, 0, 0.507);
  -webkit-transition: var(--transition-time);
  transition: var(--transition-time);
  -webkit-transition-property: padding, border;
  transition-property: padding, border;
}
header nav .linkes ul li a:not(:last-child) {
  border-bottom: 1px solid rgba(16, 0, 245, 0.082);
}
header nav .linkes ul li a:hover {
  background-color: rgba(59, 59, 182, 0.116);
  padding-right: 25px;
  border-bottom: 1px solid var(--color-h-after);
}
header nav:hover .berger-icon span:nth-child(2) {
  width: 100%;
  -webkit-transition: width var(--transition-time) ease-in;
  transition: width var(--transition-time) ease-in;
}
canvas {
  display: block;
  vertical-align: bottom;
}
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
.count-particles {
  background: #0b0bd8;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.js-count-particles {
  font-size: 1.1em;
}
#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}
#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}
.count-particles {
  border-radius: 0 0 3px 3px;
}
footer,
section {
  -webkit-filter: blur(10px);
  filter: blur(10px);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
}
@-webkit-keyframes spred {
  0% {
    width: 0px;
    height: 0px;
    background-color: #fff;
    -webkit-filter: blur(100px);
    filter: blur(100px);
  }
  to {
    width: 200%;
    height: 150%;
    background-color: #2310ce2c;
  }
}
@keyframes spred {
  0% {
    width: 100px;
    height: 100px;
    background-color: #fff;
    -webkit-filter: blur(100px);
    filter: blur(100px);
  }
  to {
    width: 200%;
    height: 150%;
    background-color: #2310ce2c;
  }
}
.view {
  width: 100%;
  height: 100vh;
  background-image: url(../images/view-section-12.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed;
  overflow: hidden;
  background-attachment: fixed;
}
.view .spred {
  position: absolute;
  z-index: -1;
  margin: 0 auto;
  content: "";
  background-color: #2310ce2c;
  overflow: hidden;
}
.view .welcome {
  width: 100%;
}
.view .welcome .my-img {
  width: 700px;
  position: absolute;
  top: 50%;
  left: 10px;
  -webkit-transform: translateY(-50%) translateX(-0%);
  transform: translateY(-50%) translateX(-0%);
}
.view .welcome .my-img img {
  max-width: 100%;
  animation: rotate 2s infinite linear alternate-reverse;
}
.view .welcome .text {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 40%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  font-family: var(--second-font);
}
.view .welcome .text h1 {
  margin: 0;
  color: #fff;
  opacity: 0;
  -webkit-transform: translateX(50px);
  transform: translateX(50px);
  -webkit-transition: 0.3s 2.7s linear !important;
  transition: 0.3s 2.7s linear !important;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  font-family: inherit;
}
.view .welcome .text p {
  -webkit-transition: 0.3s 3s linear !important;
  transition: 0.3s 3s linear !important;
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  margin-top: 15px;
  color: rgba(255, 255, 255, 0.767);
  direction: rtl;
  color: #fff;
  width: 100%;
  overflow: hidden;
  line-height: 1.5;
  font-family: inherit;
}
.view .welcome .text p span {
  position: relative;
  display: inline-block;
  padding-left: 5px;
  margin-top: 15px;
  font-size: 1.5rem;
}
.view .welcome .text p span:before {
  content: "";
  position: absolute;
  background-color: white;
  width: 2px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 5px;
  left: 0;
  -webkit-animation: a 0.2s infinite alternate;
  animation: a 0.2s infinite alternate;
}
.go-down {
  color: red;
  animation: top-down 0.9s infinite linear alternate-reverse;
  position: absolute;
}
@media (max-width: 375px) {
  .view .welcome .text p {
    margin-top: 10px;
  }
}
.section-1 {
  background-color: var(--background-color-section-1);
  direction: rtl;
}
.section-1 .container {
  padding: var(--padding);
}
.section-1 .container .cards {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center;
  position: relative;
  gap: 20px;
}
.section-1 .container .cards .all-card {
  max-width: 277px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  border: 10px solid rgba(45, 54, 172, 0.096);
  width: 340px;
  height: 340px;
  line-height: 30px;
}
.section-1 .container .cards .all-card i {
  font-size: 50px;
  color: #4a358f;
  margin-bottom: 10px;
  text-align: center;
}
.spikes {
  position: relative;
  background-color: var(--background-color-section-1);
}
.spikes:after {
  content: "";
  position: absolute;
  right: 0;
  left: -39%;
  top: 100%;
  z-index: 10;
  display: block;
  height: 35px;
  background-size: 35px 100%;
  background-image: linear-gradient(
      135deg,
      rgba(120, 202, 202, 0.151) 25%,
      transparent 25%
    ),
    linear-gradient(225deg, rgba(120, 202, 202, 0.151) 25%, transparent 25%);
  background-position: 0 0;
}
.services .container {
  padding: var(--padding);
}
.services .container .all-card-services {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
 
  gap: 20px;
}
.services .container .all-card-services .cal-1 {
  border-right: 10px solid rgba(45, 54, 172, 0.096);
  padding-right: 30px;
}
.services .container .all-card-services .cal-1 .all-card-in-call,
.services .container .all-card-services .cal-2 .all-card-in-call {
  height: 300px;
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  position: relative;
}
.services .container .all-card-services .cal-1 .all-card-in-call .icon-i i,
.services .container .all-card-services .cal-2 .all-card-in-call .icon-i i {
  color: #4a358f;
  font-size: 2em;
  position: absolute;
  top: 20%;
  left: 25px;
}
.services .container .all-card-services .cal-1 .all-card-in-call .icon-i i {
  left: 20px;
}
.services .container .all-card-services .cal-1 .all-card-in-call .cont,
.services .container .all-card-services .cal-2 .all-card-in-call .cont {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
}
.services .container .all-card-services .cal-1 .all-card-in-call .cont p,
.services .container .all-card-services .cal-2 .all-card-in-call .cont p {
  max-width: 60%;
  text-wrap: wrap;
}
.services .container .all-card-services .cal-3 .img {
  position: relative;
  margin: 90px 0 0 120px;
  max-width: 250px;
}
.services .container .all-card-services .cal-3 .img img {
  width: 250px;
  -webkit-filter: grayscale(0.3);
  filter: grayscale(0.3);
}
.services .container .all-card-services .cal-3 .img:before {
  content: "";
  position: absolute;
  background-color: var(--color-h-after);
  width: 30%;
  top: -10%;
  right: -13%;
  height: 120%;
  z-index: -1;
}
.portofolio {
  background-color: var(--background-color-section-1);
  font-size: 16px;
  direction: rtl;
}
.portofolio .container {
  padding: var(--padding);
}
.portofolio .container .cards-port {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 25px;
}
.portofolio .container .cards-port .all-card-port {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(100, 93, 121, 0.829);
  box-shadow: 0px 0px 10px 0px rgba(100, 93, 121, 0.829);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
}
.portofolio .container .cards-port .all-card-port .img-templet {
  width: 100%;
  overflow: hidden;
  height: 50%;
}
.portofolio .container .cards-port .all-card-port .img-templet img {
  width: 100%;
  -webkit-transition: all var(--transition-time);
  transition: all var(--transition-time);
}
.portofolio .container .cards-port .all-card-port .img-templet:hover img {
  opacity: 0.8;
  -webkit-transform: scale(1.3) rotate(5deg);
  transform: scale(1.3) rotate(5deg);
}
.portofolio .container .cards-port .all-card-port .cont-templet {
  padding: 20px;
  width: 100%;
}
.portofolio .container .cards-port .all-card-port .cont-templet a {
  display: inline-block;
  margin-left: 5px;
  font-size: 25px;
  color: #000;
  text-decoration: none;
}
.portofolio .container .cards-port .all-card-port .cont-templet a i {
  -webkit-animation: opacity 1s infinite both ease-in alternate;
  animation: opacity 1s infinite both ease-in alternate;
}
.portofolio .container .cards-port .all-card-port .cont-templet p {
  line-height: 2;
}
.about .container {
  padding: var(--padding);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.about .container .about-title {
  width: 40%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  max-width: 500px;
  line-height: 2;
}
.about .container .about-title .titel-1 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 25px;
  color: var(--color-h-after);
}
.about .container .about-title hr {
  width: 50%;
  border: solid 5px var(--background-color-section-1);
  margin-bottom: 25px;
}
.about .container .about-title .titel-2 {
  font-size: 17px;
}
.about .container .img-me {
  max-width: 400px;
  position: relative;
}
.about .container .img-me:before {
  content: "";
  width: 100px;
  height: calc(100% + 100px);
  position: absolute;
  left: -50px;
  top: -50px;
  background-color: rgba(214, 219, 219, 1);
  z-index: -1;
}
.about .container .img-me:after {
  content: "";
  width: 90px;
  height: 80%;
  border-left: 106px solid var(--color-h-after);
  border-bottom: 60px solid var(--color-h-after);
  position: absolute;
  right: -141px;
  top: -50px;
  z-index: -1;
}
.about .container .img-me img {
  width: 100%;
  height: 100%;
  animation: rotate 2s infinite linear alternate-reverse;
}
.contact {
  background-color: var(--background-color-section-1);
  direction: rtl;
}
.contact .container {
  text-align: center;
}
.contact .container .p-contact p {
  font-size: 35px;
  color: var(--color-h-after);
  margin-bottom: 30px;
  font-weight: 700;
  line-height: 2;
}
.contact .container .p-contact a {
  display: inline-block;
  text-decoration: none;
  font-size: 22px !important;
  font-weight: 700;
  color: var(--color-p);
  margin-bottom: 25px;
  -webkit-transition: color var(--transition-time);
  transition: color var(--transition-time);
  -webkit-transition-property: letter-spacing;
  transition-property: letter-spacing;
  font-family: var(--second-font);
}
.contact .container .p-contact a:hover {
  color: rgba(255, 0, 0, 0.726);
  letter-spacing: 2px;
}
.contact .container .link-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 0px;
  font-size: 20px;
  padding-bottom: 25px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.contact .container .link-contact p {
  line-height: 2;
  margin: 20px;
  text-align: center;
  color: #a52a2a;
  font-size: 25px !important;
  display: inline-block;
}
.contact .container .link-contact .links {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 20px;
}
.contact .container .link-contact .links a {
  color: var(--color-p);
  text-decoration: none;
}
.contact .container .link-contact .links a i:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.contact .container .link-contact .links a svg {
  width: 20px;
}
.contact .container .link-contact .links a i {
  -webkit-transition: var(--transition-time);
  transition: var(--transition-time);
  -webkit-transition-property: color, background, -webkit-transform;
  transition-property: color, background, -webkit-transform;
  transition-property: color, background, transform;
  transition-property: color, background, transform, -webkit-transform;
  margin: 0 15px;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50%;
}
.contact .container .link-contact .links a:first-child:hover i {
  background-color: #39569c;
  color: #fff;
}
.contact .container .link-contact .links a:nth-child(2):hover i {
  background: #f09433;
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433',endColorstr='#bc1888',GradientType=1);
  color: #fff;
}
.contact .container .link-contact .links a:nth-child(3):hover i {
  background-color: #1da1f2;
  color: #fff;
}
.contact .container .link-contact .links a:last-child i {
  background-color: green;
  color: #fff;
  -webkit-animation: opacity 1s infinite ease-in alternate;
  animation: opacity 1s infinite ease-in alternate;
}
.contact .container .link-contact .links a:last-child:hover i {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}
footer {
  width: 100%;
  -webkit-box-shadow: 0 0 10px 10px rgb(235, 236, 247) inset;
  box-shadow: 0 0 10px 10px rgb(235, 236, 247) inset;
  height: 80px;
  direction: rtl;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: var(--color-h-after);
}
footer span {
  display: inline-block;
  margin: 0 8px;
}
@media (max-width: 767px) {
  section {
    overflow: hidden;
  }
  .container {
    min-width: 90%;
    margin: 0 auto;
    padding: 0 10px;
  }
  .view .container {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100%;
  }
  .spred {
    top: 50%;
    left: 50%;
    border-radius: none !important;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .view .welcome {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 0%;
  }
  .view .welcome h1 {
    font-size: 2rem;
  }
  .view .welcome .my-img {
    position: static;
    -webkit-transform: translate(0);
    transform: translate(0);
    inset: 0;
    max-width: 310px;
  }
  .view .welcome .text {
    position: static;
    width: 100%;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .view .welcome p {
    font-size: 2em;
  }
  .view .welcome p span {
    font-size: 1.2rem !important;
  }
  .go-down {
    bottom: 2em;
    font-size: 1.5em;
    left: calc(50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .header-section {
    text-align: center;
    margin: 25px;
  }
  .header-section p {
    margin: 10px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
  }
  .header-section h2 {
    color: #d6ceceb6;
    font-size: 55px;
    text-align: center;
    font-weight: 900;
    letter-spacing: -3px;
  }
  .cal-1 {
    border-right: none !important;
    padding-right: 0 !important;
  }
  .services .container .all-card-services .all-card-in-call {
    border-bottom: 10px solid rgba(45, 54, 172, 0.096);
  }
  .services .container .all-card-in-call.card-1.x {
    border-top: 10px solid rgba(45, 54, 172, 0.096);
  }
  .services .container .all-card-services .cal-2 .all-card-in-call .icon-i i {
    left: 20px;
  }
  .img-me {
    max-width: 180px !important;
    position: relative;
  }
  .img-me:before {
    width: 80px;
    height: calc(100% + 40px);
    left: -40px;
    top: -20px;
  }
  .img-me:after {
    display: none;
  }
  .about .container .about-title .titel-1 {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--color-h-after);
    line-height: 20px;
  }
  .about .container .about-title hr {
    width: 50%;
    border: solid 5px var(--background-color-section-1);
    margin-bottom: 25px;
  }
  .about .container .about-title .titel-2 {
    font-size: 17px;
  }
  .about .container .about-titel {
    font-size: 10px;
    max-width: 400px;
  }
  .contact .container .p-contact p {
    font-size: 20px;
    font-weight: 700;
  }
  .contact .container .p-contact a {
    font-size: 19px;
  }
  footer {
    height: 70px;
    font-size: 14px;
  }
  .contact .container .link-contact p {
    text-align: center;
    font-size: 16px;
    max-width: 244px;
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
    .view .container {
   
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100%;
  }
  .container{
    width: 90%;
    margin: 0 auto;
  }
  .spred {
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .view .welcome {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    
  }
  .view .welcome h1 {
    font-size: 2rem;
  }
  .view .welcome .my-img {
    position: static;
    -webkit-transform: translate(0);
    transform: translate(0);
    inset: 0;
    max-width: 400px;
  }
  .view .welcome .text {
    position: static;
    width: 100%;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  .view .welcome p {
    font-size: 2em;
  }
  .view .welcome p span {
    font-size: 1.2rem !important;
  }
  .go-down {
    font-size: 1.5em;
    bottom: 20px;
    left: calc(50% - 10px);
  }
  .header-section h2 {
    font-size: 100px;
  }
  .services .container .all-card-services .img {
    display: none;
  }
  .services .container .all-card-services .all-card-in-call {
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
  }
  .services .container .all-card-in-call.card-1.x {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }
  .cal-1 {
    border-right: 10px solid rgba(45, 54, 172, 0.096);
  }
  .img-me {
    max-width: 300px;
  }
  .img-me:before {
    width: 80px;
    height: calc(100% + 40px);
    left: -40px;
    top: -20px;
  }
}
@media (min-width: 1200px) {
  .container {
    min-width: 1170px;
    max-width: 90%;
  }
  .spred {
    top: 50%;
    left: 10px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 50%;
  }
  .view .welcome .my-img {
    width: 500px;
  }
  .view .welcome h1 {
    font-size: 4em;
  }
  .view .welcome p {
    font-size: 2rem;
  }
  .go-down {
    font-size: 2em;
    bottom: 10px;
    left: calc(50% - 10px);
  }
  .services .container .all-card-services .img {
    display: block;
  }
  .services .container .all-card-services .img:before {
    right: -25%;
  }
  .services .container .all-card-services .all-card-in-call {
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
  }
  .services .container .all-card-in-call.card-1.x {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }
  .cal-1 {
    border-right: 10px solid rgba(45, 54, 172, 0.096);
  }
  .about .container {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .img-me:before {
    width: 80px;
    height: calc(100% + 40px);
    left: -40px;
    top: -20px;
  }
  .img-me:after {
    display: block;
  }
}
@media (min-width: 1450px) {
  .container {
    min-width: 1400px;
    max-width: 80%;
    margin: 0 auto;
  }
  .view .welcome .my-img {
    min-width: 500px;
  }
  .view .welcome h1 {
    font-size: 4em;
  }
  .view .welcome p {
    font-size: 4em;
  }
  .go-down {
    font-size: 2em;
    bottom: 30px;
    left: calc(50% - 10px);
  }
  .services .container .all-card-services .img:before {
    right: -13%;
  }
  .img-me:after {
    content: "";
    width: 90px;
    height: 80%;
    border-left: 106px solid var(--color-h-after);
    border-bottom: 60px solid var(--color-h-after);
    position: absolute;
    right: -141px;
    top: -50px;
    z-index: -1;
  }
}
@-webkit-keyframes anim {
  0%,
  to {
    text-shadow: 2px 0px 2px rgba(179, 158, 158, 0.5);
  }
  50% {
    background-size: 0%;
    background-position-x: left;
    text-shadow: 2px 10px 6px rgba(179, 158, 158, 1);
  }
}
@keyframes anim {
  0%,
  to {
    text-shadow: 2px 0px 2px rgba(179, 158, 158, 0.5);
}
50% {
    background-size: 0%;
    background-position-x: left;
    text-shadow: 2px 0px 2px rgba(179, 158, 158, 0.5);
  }
}

@-webkit-keyframes dotMove {
  0%,
  to {
    transform: translate(-0px ,30px);
  }
  50% {
    transform: translate(1px, -20px) scale(0.5);
    opacity: 0.85;
  }
}
@keyframes dotMove {
    0%,
    to {
      transform: translate(-0px, 30px);
    }
    50% {
      transform: translate(1px, -20px) scale(0.5);
      opacity: 0.85;
    }
}
@-webkit-keyframes top-down {
  0%,
  50% {
    -webkit-transform: translateY(0) scale(1.1);
    transform: translateY(0) scale(1.1);
    color: aqua;
  }
  to {
    -webkit-transform: translateY(-22px) scale(1.3);
    transform: translateY(-22px) scale(1.3);
    color: rgba(0, 255, 255, 0.226);
  }
}
@keyframes top-down {
  0%,
  50% {
    -webkit-transform: translateY(0) scale(1.1);
    transform: translateY(0) scale(1.1);
    color: aqua;
  }
  to {
    -webkit-transform: translateY(-22px) scale(1.3);
    transform: translateY(-22px) scale(1.3);
    color: rgba(0, 255, 255, 0.226);
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);
  }
  to {
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);
  }
  to {
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }
}
@-webkit-keyframes a {
  0% {
    opacity: 0;
    height: 5px;
  }
  to {
    opacity: 1;
    height: 100%;
  }
}
@keyframes a {
  0% {
    opacity: 0;
    height: 5px;
  }
  to {
    opacity: 1;
    height: 100%;
  }
}
@-webkit-keyframes opacity {
  0%,
  50% {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
@keyframes opacity {
  0%,
  50% {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
.header_scroll {
    filter: blur(0px);
    position:fixed !important ;
    background: rgba( 255, 255, 255, 0.15 ) !important;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ) !important;
    backdrop-filter: blur( 20px ) !important;
    -webkit-backdrop-filter: blur( 20px ) !important;
}