:root {
  --background-color-section-1: rgba(120, 202, 202, 0.151);
  --color-h-after: #333;
  --span: #ffb000;
  --color-p: #333;
  --transition-time: 0.5s;
  --padding: 50px 20px;
  --margin-top: 20px;
  --second-font: "cocon-next-arabic";
  --main-font: "flat-jooza";
}
@font-face {
  font-family: cocon-next-arabic;
  src: url(../fonts/cocon-next-arabic.ttf);
}
@font-face {
  font-family: flat-jooza;
  src: url(../fonts/flat-jooza-regular.ttf);
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--main-font);
}

::selection {
  color: #ff0;
  background-color: var(--color-p);
}

html {
  scroll-behavior: smooth;
}
body {
  overflow: hidden;
}

/* loder  */

.lode {
  position: fixed;
  z-index: 900;
  background-color: #e8e8e8;
  width: 100%;
  height: 100vh;
}
.loader {
  --col1: rgba(228, 19, 141, 0.925);
  --col2: #4a358f;
  font-size: 2.5em;
  white-space: nowrap;
  font-weight: 600;
  perspective: 800px;
  position: relative;
  width: 100%;
  height: 100vh;
}

.loader::after,
.loader::before,
.loader .text::after,
.loader .text::before {
  perspective: 800px;
  animation: anim 1s ease-in-out infinite,
    dotMove 5s ease-out alternate infinite, move 10s linear infinite 1s;
  content: "●";
  color: var(--col1);
  position: absolute;
  translate: -60px 500px;
  width: 5px;
  height: 5px;
}

.loader::before {
  animation-delay: 3s;
  color: var(--col1);
}

.loader .text::before {
  color: var(--col2);
  animation-delay: 2s;
}

.loader .text::after {
  color: var(--col2);
}

.loader .text {
  animation: anim 20s linear infinite, move 10s linear infinite 1s;
  color: transparent;
  background-image: linear-gradient(90deg, var(--col1) 0%, var(--col2) 100%);
  background-clip: text;
  background-size: 100%;
  background-repeat: no-repeat;
  transform: skew(5deg, -5deg);
  -webkit-background-clip: text;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



/* loder  */
.center-absolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-section {
  text-align: center;
  margin: 150px;
}

.header-section h2 {
  color: rgb(84 84 196 / 7%);
  font-size: 100px;
  margin: 20px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
}

.header-section p {
  font-size: 20px;
  text-align: center;
  color: #797979;
}

.h2-titel {
  margin: 0;
  font-size: 20px;
  margin: 20px;
  font-weight: 700;
  text-align: center;
  color: var(--color-h-after);
  white-space: nowrap;
}

.p-content {
  min-width: 100%;
  font-size: 16px;
  color: var(--color-p);
  text-align: center;
}

.p-content-small {
  width: 100%;
  font-size: 14px;
  color: var(--color-p);
  text-align: center;
}

.flex-alignitems-c_justfycontet-c {
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  color: var(--span);
  font-size: 22px;
  font-weight: normal;
  font-family: var(--second-font);
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 60px;
  padding: 0 20px;
  z-index: 1;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  .container {
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
  .logo {
    & img {
      width: 150px;
    }
  }
  nav {
    position: relative;
    z-index: 1;
    .berger-icon {
      padding-top: 10px;
      width: 35px;
      height: 40px;
      display: flex;
      flex-flow: column wrap-reverse;
      span {
        width: 100%;
        min-height: 3px;
        margin-bottom: 5px;
        background-color: #000;
        &:nth-child(2) {
          width: 50%;
        }
      }
    }

    .linkes {
      position: absolute;
      top: 60px;
      right: 0;
      & ul {
        display: flex;
        flex-flow: column;
        width: 250px;
        height: fit-content;
        background-color: #f6f6f6;
        position: relative;
        display: none;
        &::before {
          content: "";
          right: 0;
          top: -40px;
          position: absolute;
          border: transparent 20px solid;
          border-bottom-color: #f6f6f6;
        }
        & li {
          list-style: none;
          text-align: right;
          transition: var(--transition-time);
          transition-property: padding, border;
          & a {
            text-decoration: none;
            padding: 20px;
            color: #111010;
            display: inline-block;
            color: rgba(0, 0, 255, 0.829), rgba(0, 0, 0, 0.507);
          }
          &:not(:last-child) {
            border-bottom: 1px solid rgba(16, 0, 245, 0.082);
          }
          &:hover {
            background-color: rgba(59, 59, 182, 0.116);
            padding-right: 25px;
            border-bottom: 1px solid var(--color-h-after);
          }
        }
      }
    }
    &:hover {
      .linkes ul {
        display: inline-block;
      }
      .berger-icon {
        span:nth-child(2) {
          width: 100%;
          transition: width var(--transition-time) ease-in;
        }
      }
    }
  }
}

/* ---- reset ---- */
body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
}
canvas {
  display: block;
  vertical-align: bottom;
} /* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
} /* ---- stats.js ---- */
.count-particles {
  background: #0b0bd8;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.js-count-particles {
  font-size: 1.1em;
}
#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}
#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}
.count-particles {
  border-radius: 0 0 3px 3px;
}



section,
header,
footer {
  filter: blur(10px);
  transition: 0.3s;
  overflow: hidden;
}
@keyframes spred {
  0% {
    width: 100px;
    height: 100px;
    background-color: #fff;
    filter: blur(100px);
  }

  100% {
    width: 200%;
    height: 150%;
    background-color: #2310ce2c;
  }
}

.view {
  width: 100%;
  height: 100vh;
  background-image: url(../images/view-section-12.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed;
  overflow: hidden;
  .spred {
    position: absolute;
    z-index: -1;
    margin: 0 auto;
    content: "";
    background-color: #2310ce2c;
    overflow: hidden;
  }
  .welcome {
    width: 100%;
    .my-img {
      width: 700px;
      position: absolute;
      top: 50%;
      left: 10px;
      transform: translateY(-50%) translateX(-0%);
      & img {
        max-width: 100%;
        animation: rotate 2s infinite linear alternate-reverse;
      }
    }
    .text {
      position: absolute;
      top: 50%;
      right: 10px;
      width: 40%;
      transform: translateY(-50%);
      text-align: center;
      font-family: var(--second-font);
      & h1 {
        margin: 0;
        color: #fff;
        opacity: 0;
        transform: translateX(50px);
        transition: 0.3s 2.7s linear !important;
        transition-property: opacity, transform;
        font-family: inherit;
      }
      & p {
        transition: 0.3s 3s linear !important;
        opacity: 0;
        transform: translateY(50px);
        transition-property: opacity, transform;
        margin-top: 15px;
        color: rgba(255, 255, 255, 0.767);
        direction: rtl;
        color: #fff;
        width: 100%;
        overflow: hidden;
        line-height: 1.5;
        font-family: inherit;
        & span {
          position: relative;
          display: inline-block;
          padding-left: 5px;
          margin-top: 15px;
          font-size: 2rem;
          &::before {
            content: "";
            position: absolute;
            background-color: white;
            width: 2px;
            top: 50%;
            transform: translateY(-50%);
            height: 5px;
            left: 0;
            animation: a 0.2s infinite alternate;
          }
        }
      }
    }
  }
  .go-down {
    color: red;
    animation: top-down 0.9s infinite linear alternate-reverse;
    position: absolute;
  }
}

@media (max-width: 375px) {
  .view .welcome .text p {
    margin-top: 10px;
  }
}

.section-1 {
  background-color: var(--background-color-section-1);

  direction: rtl;
  & .container {
    padding: var(--padding);
    & .cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      justify-content: center;
      justify-items: center;
      position: relative;
      gap: 20px;
    }
    & .all-card {
      max-width: 277px;
      flex-flow: column;
      border: 10px solid rgba(45, 54, 172, 0.096);
      width: 340px;
      height: 340px;
      line-height: 30px;
      & i {
        font-size: 50px;
        color: #4a358f;
        margin-bottom: 10px;
        text-align: center;
      }
    }
  }
}
.spikes {
  position: relative;
  background-color: var(--background-color-section-1);
}

.spikes::after {
  content: "";
  position: absolute;
  right: 0;
  left: -39%;
  top: 100%;
  z-index: 10;
  display: block;
  height: 35px;
  background-size: 35px 100%;
  background-image: linear-gradient(
      135deg,
      rgba(120, 202, 202, 0.151) 25%,
      transparent 25%
    ),
    linear-gradient(225deg, rgba(120, 202, 202, 0.151) 25%, transparent 25%);
  background-position: 0 0;
}
.services {
  & .container {
    padding: var(--padding);
    & .all-card-services {
      margin-top: var(--margin-top);
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      align-items: center;
      gap: 20px;
      & .cal-1 {
        border-right: 10px solid rgba(45, 54, 172, 0.096);
        padding-right: 30px;
      }
      & .all-card-in-call {
        height: 300px;
        line-height: 30px;
        display: flex;
        text-align: center;
        position: relative;
      }
      & :where(.cal-1, .cal-2) .all-card-in-call .icon-i i {
        color: #4a358f;
        font-size: 2em;
        position: absolute;
        top: 20%;
        left: 25px;
      }
      & .cal-1 .all-card-in-call .icon-i i {
        left: 20px;
      }

      & .cal-2 .all-card-in-call .icon-i i {
        /* left: 20px; */
        top: 23%;
        left: 60px;
      }
      & :where(.cal-1, .cal-2) .all-card-in-call .cont {
        flex-flow: column;
        & p {
          max-width: 60%;
          text-wrap: wrap;
        }
      }
      .img {
        position: relative;
        margin: 90px 0 0 120px;
        max-width: 250px;
        & img {
          width: 250px;
          filter: grayscale(0.3);
        }
        &::before {
          content: "";
          position: absolute;
          background-color: var(--color-h-after);
          width: 30%;
          top: -10%;
          right: -13%;
          height: 120%;
          z-index: -1;
        }
      }
    }
  }
}

.portofolio {
  background-color: var(--background-color-section-1);
  font-size: 16px;
  direction: rtl;
  .container {
    padding: var(--padding);
    & .cards-port {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 25px;
      & .all-card-port {
        box-shadow: 0px 0px 10px 0px rgba(100, 93, 121, 0.829);
        display: flex;
        flex-flow: column;
        background-color: #fff;
        border-radius: 10px;
        overflow: hidden;
        & .img-templet {
          width: 100%;
          overflow: hidden;
          height: 50%;
          & img {
            width: 100%;
            transition: all var(--transition-time);
          }
        }
        & :hover {
          &.img-templet img {
            opacity: 0.8;
            transform: scale(1.3) rotate(5deg);
          }
        }
        & .cont-templet {
          padding: 20px;
          width: 100%;
          & a {
            display: inline-block;
            margin-left: 5px;
            font-size: 25px;
            color: #000;
            text-decoration: none;
            & i {
              animation: opacity 1s infinite both ease-in alternate;
            }
          }
          & p {
            line-height: 2;
          }
        }
      }
    }
  }
}

.about .container {
  padding: var(--padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  & .about-title {
    width: 40%;
    flex-direction: column;
    text-align: center;
    max-width: 500px;
    line-height: 2;
    & .titel-1 {
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 25px;
      color: var(--color-h-after);
    }
    & hr {
      width: 50%;
      border: solid 5px var(--background-color-section-1);
      margin-bottom: 25px;
    }
    & .titel-2 {
      font-size: 17px;
    }
  }
  & .img-me {
    max-width: 400px;
    position: relative;
    &::before {
      content: "";
      width: 100px;
      height: calc(100% + 100px);
      position: absolute;
      left: -50px;
      top: -50px;
      background-color: rgba(214, 219, 219, 1);
      z-index: -1;
    }
    &::after {
      content: "";
      width: 90px;
      height: 80%;
      border-left: 106px solid var(--color-h-after);
      border-bottom: 60px solid var(--color-h-after);
      position: absolute;
      right: -141px;
      top: -50px;
      z-index: -1;
    }
    & img {
      width: 100%;
      height: 100%;
      animation: rotate 2s infinite linear alternate-reverse;
    }
  }
}

.contact {
  background-color: var(--background-color-section-1);
  direction: rtl;
  & .container {
    text-align: center;
    & .p-contact {
      & p {
        font-size: 35px;
        color: var(--color-h-after);
        margin-bottom: 30px;
        font-weight: 700;
        line-height: 2;
      }
      & a {
        display: inline-block;
        text-decoration: none;
        font-size: 22px !important;
        font-weight: 700;
        color: var(--color-p);
        margin-bottom: 25px;
        transition: color var(--transition-time);
        transition-property: letter-spacing;
        font-family: var(--second-font);
        &:hover {
          color: rgba(255, 0, 0, 0.726);
          letter-spacing: 2px;
        }
      }
    }
    & .link-contact {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      font-size: 20px;
      padding-bottom: 25px;
      align-items: center;
      & p {
        line-height: 2;
        margin-bottom: 20px;
        text-align: center;
        width: 322px;
        color: #a52a2a;
      }
      & .links {
        width: 100px;
        display: flex;
        justify-content: space-evenly;
        font-size: 20px;
        & a {
          color: var(--color-p);
          & :where(li, svg):hover {
            transform: scale(1.3);
          }
          & svg {
            width: 20px;
          }
          & :where(li, svg) {
            transition: var(--transition-time);
          }
        }
      }
    }
  }
}

footer {
  width: 100%;
  box-shadow: 0 0 10px 10px rgb(235, 236, 247) inset;
  height: 80px;
  direction: rtl;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  color: var(--color-h-after);
  & span {
    display: inline-block;
    margin: 0 8px;
  }
}
/* media */
/* section {
  overflow: hidden;
} */
@media (max-width: 767px) {
  section {
    overflow: hidden;
  }
  .container {
    min-width: 90%;
    margin: 0 auto;
    padding: 0 10px;
  }
.spred {
  top: 50%;
  left: 50%;
  border-radius: none !important;
  transform: translate(-50%,-50%);
}

  .view .welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top:50%;
  }

  .view .welcome h1 {
    font-size: 2rem;
  }
  .view .welcome .my-img {
    position: static;
    transform: translate(0);
    inset: 0;
    max-width: 380px;
  }
  .view .welcome .text {
    position: static;
    width: 100%;
    transform: translate(0,0);
  }

  .view .welcome p {
    font-size: 2em;
  }
  .view .welcome p span {
    font-size: 1.5rem !important;
  }

  .go-down {
    bottom: 3.5em;
    font-size: 1.5em;
    left: calc(50%);
    transform: translateX(-50%);
  }

  .header-section {
    text-align: center;
    margin: 25px;
    & p {
      margin: 10px 0 0;
      font-size: 20px;
      text-align: center;
      color: #797979;
    }
    & h2 {
      color: #d6ceceb6;
      font-size: 55px;
      text-align: center;
      font-weight: 900;
      letter-spacing: -3px;
    }
  }

  .cal-1 {
    border-right: none !important;
    padding-right: 0 !important;
  }

  .services .container .all-card-services .all-card-in-call {
    border-bottom: 10px solid rgba(45, 54, 172, 0.096);
  }

  .services .container .all-card-in-call.card-1.x {
    border-top: 10px solid rgba(45, 54, 172, 0.096);
  }

  .services .container .all-card-services .cal-2 .all-card-in-call .icon-i i {
    left: 20px;
  }

  .img-me {
    max-width: 180px !important;
    position: relative;
  }

  .img-me::before {
    width: 80px;
    height: calc(100% + 40px);
    left: -40px;
    top: -20px;
  }

  .img-me::after {
    display: none;
  }

  .about .container .about-title .titel-1 {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--color-h-after);
    line-height: 20px;
  }

  .about .container .about-title hr {
    width: 50%;
    border: solid 5px var(--background-color-section-1);
    margin-bottom: 25px;
  }

  .about .container .about-title .titel-2 {
    font-size: 17px;
  }

  .about .container .about-titel {
    font-size: 10px;
    max-width: 400px;
  }

  .contact .container .p-contact p {
    font-size: 20px;
    font-weight: 700;
  }

  .contact .container .p-contact a {
    font-size: 19px;
  }

  footer {
    height: 70px;
    font-size: 14px;
  }

  .contact .container .link-contact p {
    text-align: center;
    font-size: 16px;
    max-width: 244px;
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) and (max-width:1200px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
  .spred {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .view .welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20%;
  }

  .view .welcome h1 {
    font-size: 2rem;
  }
  .view .welcome .my-img {
    position: static;
    transform: translate(0);
    inset: 0;
    max-width: 500px;
  }
  .view .welcome .text {
    position: static;
    width: 100%;
    transform: translate(0,0);
  }

  .view .welcome p {
    font-size: 2em;
  }
  .view .welcome p span {
    font-size: 1.5rem !important;
  }

  .go-down {
    font-size: 2.5em;
    bottom: 20px;
    left: calc(50% - 10px);
  }

  .header-section h2 {
    font-size: 100px;
  }

  .services .container .all-card-services .img {
    display: none;
  }

  .services .container .all-card-services .all-card-in-call {
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
  }

  .services .container .all-card-in-call.card-1.x {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }

  .cal-1 {
    border-right: 10px solid rgba(45, 54, 172, 0.096);
  }

  .img-me {
    max-width: 300px;
  }

  .img-me::before {
    width: 80px;
    height: calc(100% + 40px);
    left: -40px;
    top: -20px;
  }
}


@media (min-width: 1200px) {
  .container {
    min-width: 1170px;
    max-width: 90%;
  }
  .spred {
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    border-radius: 50%;
  }
  .view .welcome .my-img {
    width: 500px;
  }

  .view .welcome h1 {
    font-size: 4em;
  }

  .view .welcome p {
    font-size: 4rem;
  }

  .go-down {
    font-size: 2em;
    bottom: 10px;
    left: calc(50% - 10px);
  }

  .services .container .all-card-services .img {
    display: block;
  }

  .services .container .all-card-services .img::before {
    right: -25%;
  }

  .services .container .all-card-services .all-card-in-call {
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
  }

  .services .container .all-card-in-call.card-1.x {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }

  .cal-1 {
    border-right: 10px solid rgba(45, 54, 172, 0.096);
  }

  .about .container {
    justify-content: space-around;
  }

  .img-me {
    max-width: 350px;
  }

  .img-me::before {
    width: 80px;
    height: calc(100% + 40px);
    left: -40px;
    top: -20px;
  }

  .img-me::after {
    display: block;
  }
}

@media (min-width: 1450px) {
  .container {
    min-width: 1400px;
    max-width: 80%;
    margin: 0 auto;
  }

  .view .welcome .my-img {
    width: 700px;
  }

  .view .welcome h1 {
    font-size: 4em;
  }

  .view .welcome p {
    font-size: 4em;
  }

  .go-down {
    font-size: 2em;
    bottom: 30px;
    left: calc(50% - 10px);
  }

  .services .container .all-card-services .img::before {
    right: -13%;
  }

  .img-me::after {
    content: "";
    width: 90px;
    height: 80%;
    border-left: 106px solid var(--color-h-after);
    border-bottom: 60px solid var(--color-h-after);
    position: absolute;
    right: -141px;
    top: -50px;
    z-index: -1;
  }
}


@keyframes anim {
  0%,
  100% {
    text-shadow: 2px 0px 2px rgba(179, 158, 158, 0.5);
  }

  50% {
    background-size: 0%;
    background-position-x: left;
    text-shadow: 2px 10px 6px rgba(179, 158, 158, 1);
  }
}

@keyframes move {
  50% {
    translate: 0px 0px;
    rotate: x 60deg;
  }
}

@keyframes dotMove {
  0%,
  100% {
    translate: -60px 300px;
  }

  50% {
    translate: 160px -250px;
    scale: 0.5;
    opacity: 0.85;
  }
}

@keyframes top-down {
  0%,
  50% {
    transform: translateY(0) scale(1.1);
    color: aqua;
  }

  100% {
    transform: translateY(-22px) scale(1.3);
    color: rgba(0, 255, 255, 0.226);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(1deg);
  }

  100% {
    transform: rotate(-1deg);
  }
}

@keyframes a {
  from {
    opacity: 0;
    height: 5px;
  }

  to {
    opacity: 1;
    height: 100%;
  }
}

@keyframes opacity {
  0%,
  50% {
    /* transform: scale(0.5); */
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}
